*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
!debug.keystore

# Android specific
/app/build/
!/app/build/
!/app/build/outputs/
!/app/build/outputs/apk/
!/app/build/outputs/apk/debug/
!/app/build/outputs/apk/debug/app-debug.apk

# Kotlin
*.class

# Gradle
gradlew.bat
.gradle/
gradle/wrapper/gradle-wrapper.jar
